.header {
  padding: 16px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.avatar {
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
  z-index: 100;
  box-shadow: #666666 0 3px 3px;
  -webkit-box-shadow: #666666 0 3px 3px;
  -moz-box-shadow: #666666 0 3px 3px;
  -o-box-shadow: #666666 0 3px 3px;
  margin-right: 16px;
}

.flex-row {
  display: flex;
  align-items: center;
}
