<div class="container-fluid">
  <div class="row">
    <!--<mat-card style="margin-bottom: 15px;">
      <form class="form-inline">
        <div class="form-group">
          <label for="device" class="control-label">设备</label>
          <input type="text" class="form-control" id="device" placeholder="设备编号" name="device" [(ngModel)]="device">
        </div>
        <div class="form-group">
          <label for="date" class="control-label">查询日期</label>
          <input type="text" class="form-control" id="date" bsDaterangepicker placeholder="选择日期" name="date"
                 [(ngModel)]="dateRange">
        </div>
        <button type="button" class="btn btn-default" (click)="onSearch();">查询</button>
      </form>
    </mat-card>-->

    <mat-card>
      <mat-card-content>
        <div echarts [options]="ChartOption" [loading]="isLoading" theme="macarons" [merge]="updateOptions"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
